@{
    ViewBag.Title = "CFS EAutomate Contract Load Viewer";
}

<div class="container">
    <div id="root"></div>
</div>

@section Scripts{

    <script language="javascript">
        $(document).ready(function() {

            $('#lnkStart').click(function(e) {
                e.preventDefault();
                $('#query').focus();
            });
        });
    </script>

}

